
<div class = 'row'>
	<div class = col-md-12 col-sm-12>
		<div class = "splash">
			<center><h1 style = "font-size: 130px; letter-spacing: 2px; font-weight: 400; color: white;">Peruze</h1></center>
			<center><h2 style = "letter-spacing: 1px; font-weight: 300; color: white;">Changing the way you shop on your Phone</h2></center>
		</div>
	</div>
</div>