// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

body {
	background-color: #0F2E43; 
	color: #05EEE3;
	font-family: helvetica;
}

.splash {
	margin-top: 3em;
	font-family: helvetica;
}